In [1]:
import vcfpy
import pandas as pd
import os
import sqlite3

In [25]:
dbfile = os.path.join('exam.sqlite')
db = sqlite3.connect(dbfile)
vcf = '/lustre1/project/stg_00079/teaching/data/snps.annotated.vcf'

In [26]:
print(f"dbfile : {dbfile}")
print(f"db     : {db}")
print(f"vcf    : {vcf}")

dbfile : exam.sqlite
db     : <sqlite3.Connection object at 0x2add5f7a0d40>
vcf    : /lustre1/project/stg_00079/teaching/data/snps.annotated.vcf

In [27]:
# Empty lists to store the data in
snp_records = []
effect_records = []
call_records = []

# These are the columns from a SNPeff record - easy to later assign column names
effect_rec_names = """snp allele effect impact gene gene_id feature_type feature_id 
                      biotype rank hgvs.c hgvs.p cdna_pos cds_pos prot_pos distance_to_feature
                      messages""".split()

# start parsing through the VCF:
j = 0

#open the vcf iterator:
reader = vcfpy.Reader.from_path(vcf)

for i, record in enumerate(reader):
    j += 1
    
    # we used vt decompose - so I expect NO multiallelic SNPs
    assert len(record.ALT) == 1 
    
    # this is the ALT allele (first and only)
    alt = record.ALT[0]
    
    # compose a SNP name for joins later on
    snp_name = f"{record.CHROM}:{record.POS}:{record.REF}:{alt.value}"
    
    # Store a SNP record - I collect everything now in a list of dictionaries
    # that I will later convert to a Pandas dataframe
    snp_records.append(
        dict(snp = snp_name,
             chrom = record.CHROM,
             pos = record.POS,
             quality = record.QUAL,
             ref = record.REF,
             type = alt.type,
             alt = alt.value))
    
    
    # Now I will parse through the individual calls
    for call_record in record.calls:
        
        #name of the sample (TLE66_N or TLE66_T)
        sample = os.path.basename(call_record.sample)
        sample = sample.replace('.bam', '')

        # simple genotype - -1 means not called, otherwise it's the number of ALT alleles observer
        # this helps in later queries 
        # Note - this is not perfect - it does ignore uncalled loci (./.)
        genotype_simple = call_record.data['GT'].count('1')
        
        call_records.append(
            dict(snp = snp_name,
                 sample = sample,
                 genotype = call_record.data['GT'], 
                 genotype_simple = genotype_simple))

    # and parse through all snpEff annotations
    for ann in record.INFO['ANN']:
        ann = ann.split('|')
        # create a dictionary of all fields
        eff_record = dict(zip(effect_rec_names, [snp_name] + ann))
        #from pprint import pprint
        #pprint(eff_record)
        # convert distance to feature to integer
        try:
            eff_record['distance_to_feature'] = int(eff_record.get(intfield))
        except:
            eff_record['distance_to_feature'] = -1
            
        effect_records.append(eff_record)

print(len(snp_records))
print(len(call_records))
print(len(effect_records))

3505
7010
19640

In [28]:
#convert lists of dicts to a DataFrame
snp_records = pd.DataFrame.from_records(snp_records)
call_records = pd.DataFrame.from_records(call_records)
effect_records = pd.DataFrame.from_records(effect_records)

#Save to disk
print('snp records', snp_records.to_sql('snp', db, if_exists='replace', index=False))
print('call records', call_records.to_sql('snp_call', db, if_exists='replace', index=False))
print('effect records', effect_records.to_sql('snp_effect', db, if_exists='replace', index=False))

snp records 3505
call records 7010
effect records 19640

In [29]:
pd.read_sql("SELECT * FROM snp LIMIT 5", db)

                  snp chrom        pos   quality ref type alt
0  chr9:127578816:C:T  chr9  127578816   36.1174   C  SNV   T
1  chr9:127578974:A:G  chr9  127578974  422.7380   A  SNV   G
2  chr9:127579080:A:G  chr9  127579080  172.0220   A  SNV   G
3  chr9:127663498:C:T  chr9  127663498   66.0472   C  SNV   T
4  chr9:127674824:G:T  chr9  127674824   24.6981   G  SNV   T

In [30]:
pd.read_sql("SELECT * FROM snp_call LIMIT 5", db)

                  snp   sample genotype  genotype_simple
0  chr9:127578816:C:T  TLE66_N      0/1                1
1  chr9:127578816:C:T  TLE66_T      0/1                1
2  chr9:127578974:A:G  TLE66_N      0/1                1
3  chr9:127578974:A:G  TLE66_T      0/1                1
4  chr9:127579080:A:G  TLE66_N      0/1                1

In [31]:
# .T transposes - easier viewing
pd.read_sql("SELECT * FROM snp_effect LIMIT 5", db)

,snp,allele,effect,impact,gene,gene_id,feature_type,feature_id,biotype,rank,hgvs.c,hgvs.p,cdna_pos,cds_pos,prot_pos,distance_to_feature,messages
0,chr9:127578816:C:T,T,upstream_gene_variant,MODIFIER,STXBP1,ENSG00000136854,transcript,ENST00000637521.2,protein_coding,,c.-724C>T,,,,,-1,
1,chr9:127578816:C:T,T,intron_variant,MODIFIER,NIBAN2,ENSG00000136830,transcript,ENST00000373314.7,protein_coding,1/13,c.16+106G>A,,,,,-1,
2,chr9:127578974:A:G,G,5_prime_UTR_variant,MODIFIER,NIBAN2,ENSG00000136830,transcript,ENST00000373314.7,protein_coding,1/14,c.-37T>C,,,,,-1,
3,chr9:127578974:A:G,G,upstream_gene_variant,MODIFIER,STXBP1,ENSG00000136854,transcript,ENST00000637521.2,protein_coding,,c.-566A>G,,,,,-1,
4,chr9:127579080:A:G,G,upstream_gene_variant,MODIFIER,NIBAN2,ENSG00000136830,transcript,ENST00000373314.7,protein_coding,,c.-143T>C,,,,,-1,

#### Find high impact variants

In [32]:
pd.read_sql("""
    SELECT DISTINCT snp.snp, snp_effect.gene, 
                    snp_effect.effect, snp_effect.impact
               FROM snp, snp_effect
              WHERE snp.snp = snp_effect.snp
                AND snp_effect.impact == 'HIGH'
            """, db)

,snp,gene,effect,impact
0,chr9:128632018:A:G,SPTAN1,splice_acceptor_variant&intron_variant,HIGH
1,chr9:133257521:T:TC,ABO,splice_acceptor_variant&splice_donor_variant&i...,HIGH
2,chr9:135077073:G:GAA,OLFM1,frameshift_variant,HIGH
3,chr9:135077150:GCA:G,OLFM1,frameshift_variant,HIGH
4,chr9:137245305:G:A,FAM166A,splice_donor_variant&intron_variant,HIGH
5,chr9:138046919:C:A,CACNA1B,stop_gained,HIGH

#### Find MODERATE and HIGH impact variants that differ between normal and tumor

In [33]:
pd.read_sql("""SELECT DISTINCT snp.snp, 
                      sc1.genotype as genotype_normal, 
                      sc2.genotype as genotype_tumor,
                      snp_effect.gene, snp_effect.effect, snp_effect.impact
                 FROM snp, snp_call as sc1, snp_call as sc2, snp_effect
                WHERE snp.snp = sc1.snp
                  AND snp.snp = sc2.snp
                  AND sc1.sample = 'TLE66_N'
                  AND sc2.sample = 'TLE66_T'
                  AND sc1.genotype != sc2.genotype
                  AND snp.snp = snp_effect.snp
                  AND ( snp_effect.impact = 'MODERATE'
                        OR snp_effect.impact = 'HIGH' )
            """, db)

,snp,genotype_normal,genotype_tumor,gene,effect,impact
0,chr9:127802988:A:G,1/1,./.,FPGS,missense_variant,MODERATE
1,chr9:130396267:G:A,0/1,0/0,HMCN2,missense_variant,MODERATE
2,chr9:130408923:G:A,1/1,0/1,HMCN2,missense_variant,MODERATE
3,chr9:131475071:C:T,./.,1/1,PRRC2B,missense_variant,MODERATE
4,chr9:131475956:C:T,0/1,1/1,PRRC2B,missense_variant,MODERATE
5,chr9:135077073:G:GAA,./.,1/1,OLFM1,frameshift_variant,HIGH
6,chr9:135077150:GCA:G,0/0,0/1,OLFM1,frameshift_variant,HIGH
7,chr9:136463081:C:T,0/1,0/0,SEC16A,missense_variant,MODERATE
8,chr9:136503310:A:T,0/0,0/1,NOTCH1,missense_variant,MODERATE
9,chr9:136687198:C:T,0/0,0/1,AGPAT2,missense_variant,MODERATE
10,chr9:136837879:G:C,1/1,./.,RABL6,missense_variant,MODERATE
11,chr9:137252821:C:T,1/1,./.,STPG3,missense_variant,MODERATE
12,chr9:138046919:C:A,0/0,0/1,CACNA1B,stop_gained,HIGH